@font-face {
    font-family: twfont;
    src: url('./twfont.ttc');
}

html, body {
	margin: 0px;
	font-family: Arial, twfont;
	/*background-image: url('../images/background/mainbg3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top 160px center;*/
}

.layout-nav {
	background-image: url('../images/background/banner.jpg');
	background-size: 104% 145%;
	max-height: 18.5vh;
	background-color: rgba(20,20,20,0.5);
}

/******* banner ********/

.banner {
	padding-top: 75px;
}

.banner-name {
	color: white;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 5px;
	text-shadow: 2px -2.8px 10px #63FFFF;
}

/******* header ********/

.header {
	position: relative;
	top: 14px;
	left: 20px;
	margin-left: -50px;
	text-align: center;
	width: 165px;
	height: 40px;
	border: 1px solid #005cbf;
	color: white;
	box-shadow: inset 0px 0px 5px 2px #97cbff;
	background-color: #0062cc;
	font-size: 20px;
	font-weight: bold;
	line-height: 37px;
	z-index: 5;
}

/******* main ********/

.main {
	//padding-bottom: 1vh;
	background-image: url('../images/background/mainbg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top 0px center;
	min-height: 71vh;
}

#worldmap {
	position: fixed;
	min-height: 300px;
	width: 70%;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.content {
	//padding-top: 2em;
}

.content hr {
	margin-top: -6px;
	border-top: 0.07rem solid rgba(255, 255, 255, 1);
}

/******* menu ********/

.menu {
	position: relative;
	margin-top: 1.3em;
}

.menu-title {
	width: 170px;
	font-size: 28px;
	font-weight: bolder;
	text-shadow: 1px 1px 4px rgba(10,10,10,0.8);
	color: #fff;
	letter-spacing: 1px;
	padding-left: 2px;
}

.menu ul {
	margin-top: 10px;
}

.menu .nav-item {
	text-align: center;
	width: 165px;
	height: 40px;
	margin: 10px 0;
	border: 1px solid #fff;
	background-color: white;
	box-shadow: inset 0px 0px 10px 4px #97cbff;
}

.menu .active {
	box-shadow: inset 0px 0px 5px 2px #97cbff;
	background-color: #0062cc;
    border-color: #005cbf;
}

.menu .nav-item:hover {
	box-shadow: inset 0px 0px 5px 2px #97cbff;
	background-color: #0062cc;
    border-color: #005cbf;
}

.menu .nav-item a {
	color: #1D2087;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
}

.menu .active a {
	color: #fff;
}
.menu .nav-item a:hover {
	color: #fff;
}

/******* company ********/

.company-ACE {
	font-size: 2.5em;
	font-weight: 900;
	text-align: center;
	padding-top: 1.5em;
	color: #fff;
	text-shadow: 2px 2px 4px #1D2087;
}

.company-ACE .letter {
  display: inline-block;
  line-height: 1em;
}

.company-title {
	padding-left: 0;
}

.company-title-left {
	font-size: 38px;
	font-weight: 600;
	text-align: left;
	color: #fff;
	text-shadow: 2px 2px 8px #0F0F0F;
}

.company-title-left span {
	display: inline-block;
	opacity: 0;
}

.company-title-left hr {
	width: 83%;
	float: right;
	margin-top: 30px;
}

.company-title-right {
	font-size: 38px;
	font-weight: 600;
	text-align: right;
	color: #fff;
	text-shadow: 2px 2px 8px #0F0F0F;
}

.company-title-right span {
	display: inline-block;
	line-height: 45px;
	opacity: 0;
}

.company-title-right hr {
	width: 72%;
	float: left;
	margin-top: 30px;
}

.company-content {
	font-weight: 600;
	width: 85%;
	margin: 0 auto;
	font-size: 18px;
	padding-top: 60px;
	line-height: 36px;
	color: black;
}

.company-img {
	max-width: 35%;
	height: 35%;
}

/******* news ********/

.media {
	margin-top: 2em;
}

.media-date {
	font-size: 18px;
	color: #F59F00;
}

.media-title {
	position: relative;
	width: 70%; 
	border-bottom: .5px solid #eee;
	line-height: 50px;
	font-size: 28px;
	font-weight: 600;
}

.media-title span {
	color: #1D2087;
	cursor: pointer;
}

.media-title span:hover {
	color: #303030;
}

.media-title:after {
	position: absolute;
	content: "";
	width: 100px;
	left: 0;
	bottom: -3px;
	border-bottom: 3px solid #1D2087;
}

.media .media-body p {
	color: #2B2B2B;
	width: 90%; 
	font-size: 15px;
	line-height: 25px;
}

.media .media-body p a {
	float: right; 
	font-size: 16px;
}

.news-page {
	text-align: center;
	margin-top: 50px;
	font-size: 21px;
	color: #4A4A4A;
}
.news-page span {
	margin: 12px;
}


/******* products ********/

.product-ul {
	padding: 0;
	list-style-type: none;
	margin-top: 25px;
}

.product-ul .list {
	width: 13%;
	display: inline-block;
	padding: 0px;
	margin: 12px auto;
	-webkit-transition: transform .2s; /* For Safari 3.1 to 6.0 */
    transition: transform .2s;
}
	
.product-ul .item {
	border: 12px solid transparent;
	border-image: url('../images/product/border.png') 30 stretch;
	background-color: #fff;
	border-radius: 8px;
}

.product-ul .item img {
	
}

.product-ul .list:hover {
	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
}

.product-page {
	clear: both;
	display: block;
	text-align: center;
	padding-top: 50px;
}

.product-page span {
	display: inline-block;
	font-size: 18px;
	color: #1D2087;
	height: 35px;
	width: 30px;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: white;
	margin: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 3px rgba(20,20,20,0.7);
	line-height: 35px;
}

.product-page span:hover {
	background-color: #1D2087;
	color: white;
	border: 0px;
}

.product-page .active {
	background-color: #1D2087;
	color: white;
	border: 0px;
	cursor: default;
}

.lb-outerContainer {
	margin-top: 5% !important;
	height: 500px !important;
	width: 500px !important;
}

.lb-outerContainer .lb-image {
	height: 500px !important;
	width: 500px !important;
}

/******* process ********/

.tile {
	width: 100%;
	height: 28%;
    overflow: hidden;
	border: 7px solid #fff;
	border-radius: 5px;
}

.quality-main-img {
	display: block;
	width: 100%;
	border: 7px solid #fff;
	border-radius: 5px;
}

.quality-img {
	display: block;
	width: 100%;
	border: 7px solid #fff;
	border-radius: 5px;
}

.quality-shadow {
	display: block;
	position: relative;
	cursor: pointer;
}

.quality-shadow:before {
	box-shadow: inset 1px 1px 8px 3px #97cbff;
	border-radius: 5px;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.quality-iso-img {
	width: 100%;
}

.quality-iso-text {
	padding-top: 20px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 8px #0F0F0F;
}

.quality-iso-text p {
	padding-top: 20px;
	font-size: 20px;
}

.quality-iso-icon {
	width: 100%;
	cursor: pointer;
}

/******* contact ********/

.contact-map {
	margin-left: -44px;
}

.contact-info {
	height: 185px;
	margin-left: 1rem;
	border: 1px solid #fff;
	color: white;
	box-shadow: inset 0px 0px 5px 2px #97cbff;
	background-color: rgba(0, 99, 204, 0.3);
    border-color: #005cbf;
}

.contact-info h4 {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.contact-info hr {
	width: 90%;
	margin: 0px auto;
}

.contact-info .add {
	margin-top: -10px;
	font-weight: bold;
	font-size: 17px;
	color:#fff;
	text-align: center;
}

.contact-info .staff {
	margin: 0 -15px;
	padding-top: 30px;
}

.contact-info .staff .name {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-left: 30px;
	margin-bottom: 10px;
}

.contact-icon {
	width: 20px;
	margin-top: -2.5px;
}

.contact-msg {
	margin: 0 auto;
	padding: 0;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(50,50,50,0.5);
	font-weight: 600;
}

.contact-msg span {
	font-size: 18px;
}

.contact-msg input[type="text"] {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
	font-weight: 600;
}

.contact-msg textarea {
	width: 100%;
	border: 1px solid #D6D6D6;
    border-radius: 3px;
}

.contact-msg button {
	display: block;
	height: 45px;
	margin: 0 auto;
}

/******* RWD ********/

@media screen and (max-width: 576px) {
	.company-title-left {
		text-align: center;
	}
	.company-title-right {
		text-align: center;
	}
	.media {
		height: 300px;
	}
}

@media screen and (max-width: 950px) {
	.company-img {
		margin-top: 50px;
	}
	.media img {
		display: none;
	}
	.media-title {
		line-height: 40px;
	}
	#footer {
		height: 500px !important;
	}
	.contact-map {
		padding-left: 0;
	}
}

/******* footer ********/

#footer {
	position: relative;
	max-height: 10.5vh;
	background-image: url('../images/background/footer.jpg');
	background-size: 100% 125%;
	background-position: top -7px center;
	color: white;
	bottom: 0;
	z-index: 10;
}

#footer .row:first-child {
	padding-top: 30px;
}

#footer .row:first-child img {
	display:block;
	margin:auto;
}

#footer hr {
	display: block;
    border: 0;
    border-top: 1.5px solid rgba(255, 255, 255, 0.8);
    padding: 0; 
}

/***** Animate *****/

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.flip {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip;
}


