html {
	font-family: Microsoft JhengHei;
}

#title {
	display: block;
	margin-top: 50px;
	font-size: 35px;
	color: #66DD00;
	font-weight: bold;
	text-align: center;
}

#content {
	display: block;
	position: relative;
	height: 550px;
	width: 100%;
}

#robot {
	display: inline-block;
	position: relative;
	margin-top: 50px;
	height: 450px;
	width: auto;
	z-index: -1;
}

.motor {
	display: block;
	position: absolute;
	background-color: white;
	height: 55px;
	width: 125px;
	border: 1px solid #aaa;
	text-align: center;
	font-size: 16px;
	border-radius: 7px;
	top: 20%;
	left: 65%;
	z-index: 10;
	box-shadow: 2px 1px #eee;
}

.motor:nth-child(2) {
	top: 26%;
	left: 27%;
}
.motor:nth-child(3) {
	top: 34%;
	left: 65%;
}
.motor:nth-child(4) {
	top: 48%;
	left: 27%;
}
.motor:nth-child(5) {
	top: 60%;
	left: 65%;
}
.motor:nth-child(6) {
	top: 67%;
	left: 27%;
}

.input {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	top: -10px;
	border: 1.5px solid #66DD00;
	border-radius: 2px;
	font-size: 15px;
	box-shadow: 0px 1px #eee;
}

.confirm {
	display: inline-block;
	position: relative;
	height: 24px;
	width: 60px;
	top: -11px;
	box-shadow: 0px 1px #eee;
}

#command {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	height: 20px;
	width: 350px;
	font-size: 15px;
}

#data {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	height: 100px;
	width: 350px;
	text-align: left;
}

.sendbutton {
	display: inline-block;
	position: relative;
	height: 24px;
	width: 60px;
	box-shadow: 0px 1px #eee;
}

.sendbutton:nth-child(3) {
	top: -50px;
}