@font-face {
    font-family: twfont;
    src: url('./twfont.ttc');
}
html, body {
	margin: 0px;
	height: 100%;
	background-image: url('../images/background/index.jpeg');
	background-size: cover; 
	font-family: Arial, twfont;
}

#banner {
	position: relative;
	height: 90vh;
	width: 100vw;
}

#aceLogo {
	position: absolute;
	top: 15%;
	left: 30%;
	width: 16%;
}

#aceView {
	position: absolute;
	top: 62%;
	left: 70px;
	width: 30%;
}


#aceInfo {
	position: absolute;
	top: 74%;
	right: 6%;
	width: 14%;
}

@media screen and (max-width: 1100px) {
  #aceLogo {
    width: 23%;
  }
	#aceView {
    width: 35%;
  }
  #aceInfo {
    width: 24%;
  }
}

@media screen and (max-width: 576px) {
  .logoAnimate {
    transform: none;
  }
  #aceLogo {
    width: 45%;
    left: 25%;
  }
  #aceView {
    top: 73%;
    left: 16%;
    width: 65%;
  }
  #aceInfo {
    top: 39%;
    left: 20%;
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  
}


/***** Animate *****/

/*@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}*/

@keyframes logoAnimate {
  0% {
    transform: translate3d(135%, 600%, 0) scale3d(0, 0, 0);
  }
  20% {
    transform: translate3d(128%, 480%, 0) scale3d(0.2, 0.2, 0.2); 
  }
  30% {
    transform: translate3d(123%, 420%, 0) scale3d(0.3, 0.3, 0.3); 
  }
  40% {
    transform: translate3d(117%, 360%, 0) scale3d(0.4, 0.4, 0.4);
  }
  50% {
    transform: translate3d(108%, 300%, 0) scale3d(0.5, 0.5, 0.5);
  }
  60% {
    transform: translate3d(96%, 240%, 0) scale3d(0.6, 0.6, 0.6); 
  }
  70% {
    transform: translate3d(80%, 180%, 0) scale3d(0.7, 0.7, 0.7); 
  }
  80% {
    transform: translate3d(60%, 120%, 0) scale3d(0.8, 0.8, 0.8); 
  }
  90% {
    transform: translate3d(34%, 60%, 0) scale3d(0.9, 0.9, 0.9); 
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);	
  }
}

.logoAnimate {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: logoAnimate;
	animation-name: logoAnimate;
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  50% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
  }

  75% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

